<!-- dashboard.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <form>
            <h1>Lista de Contas</h1>

            <ul>
                {% for conta in contas %}
                    <li>
                        Descrição: {{ conta.descricao }} / Valor: R${{ conta.valor }} / Data: {{ conta.data.strftime('%d/%m/%Y') }}
                        <a href="{{ url_for('excluir_conta', conta_id=conta.id) }}">Excluir</a>
                    </li>
                {% endfor %}
            </ul>

            <button type="submit" formaction="{{ url_for('inserir_conta') }}">Inserir Nova Conta</button>
            <button type="submit" formaction="{{ url_for('mostrar_grafico', ano=2023) }}">Mostrar Gráfico por Ano</button>
        </form>
    </body>
</html>