<!-- inserir_conta.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Inserir conta</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>
    <body>
        <form id="contaForm" method="post">

            <h1>Inserir conta</h1>
            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" name="descricao" required /><br />

            <label for="valor">Valor:</label>
            <input type="text" id="valor" name="valor" required pattern="\d+(\.\d{1,2})?" placeholder="R$: "/><br />

            <label for="data">Data:</label>
            <input type="date" id="data" name="data" required /><br />

            <button type="submit">Adicionar</button>
        </form>

        <script>
                document.getElementById("contaForm").addEventListener("submit", function (event) {
                event.preventDefault();

                let formData = new FormData(document.getElementById("contaForm"));

                fetch("/inserir_conta", {
                    method: "POST",
                    body: formData,
                }).then((response) => {
                    if (response.ok) {
                        window.location.href = "/dashboard";
                    } else {
                        alert("Erro ao inserir conta. Tente novamente.");
                    }
                });
            });
        </script>
    </body>
</html>
